<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/index.js"></script>
    <style>
        body {
            background-color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1, h2 {
            text-align: center;
            color: #333;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333; /* Gris oscuro */
            padding: 10px;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .navbar img {
            height: 50px;
            margin-right: 20px;
            filter: brightness(0.9);
            cursor: pointer;
        }
        .navbar select, .navbar input, .navbar button {
            margin: 0 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            background-color: white; /* Fondo blanco */
            color: black; /* Letras negras */
        }
        .navbar button:hover {
            background-color: #eaeaea;
        }
        a {
            color: #00f;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        button {
            background-color: #333; /* Fondo gris oscuro */
            color: white; /* Letras blancas */
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #555; /* Un poco más claro al pasar */
        }
        form {
            margin-top: 20px;
        }
        .content {
            padding: 20px;
            width: 100%;
            max-width: 600px;
            text-align: center;
        }
        
    </style>
</head>
<body>
    <div class="navbar">
        <img src="logo.png" alt="Logo" onclick="location.href='/'">
        <select id="filterSelect">
            <option value="">Filtrar por:</option>
            <option value="asc">Menor precio</option>
            <option value="desc">Mayor precio</option>
            <option value="available">Disponible</option>
        </select>
        <input type="text" placeholder="Buscar productos...">
        <button onclick="location.href='/api/carts'">Visitar Carritos</button>
        <button onclick="location.href='/'">Visitar Productos</button>
    </div>

    <div class="content">
        <h2>Perfil de Usuario</h2>

        {{#if user}}
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Role: {{user.role}}</p>

        <a href="/reset-password">Cambiar Contraseña</a>

        <form action="/api/sessions/logout" method="POST">
            <button type="submit">Cerrar Sesión</button>
        </form>
        {{/if}}
    </div>
    <script>
        
        document.getElementById('filterSelect').addEventListener('change', function() {
        const selectedValue = this.value;

        if (selectedValue === 'desc') {
            location.href = '/?sort=desc';
        } else if (selectedValue === 'asc') {
            location.href = '/?sort=asc';
        } else if (selectedValue === 'available') {
            const availableProducts = prods.filter(prod => prod.stock > 0);
            console.log('Productos disponibles:', availableProducts);
        }
        });

    </script>
</body>
</html>
